spring:
  jpa:
    properties:
      hibernate:
        search:
          backend:
            type: lucene
            directory:
              type: local-heap
          schema_management:
            strategy: drop-and-create
