spring:
  jpa:
    properties:
      hibernate:
        search:
          backend:
            type: lucene
            directory:
              type: local-heap
            analysis:
              configurer: bean:luceneAnalysisConfigurer
          schema_management:
            strategy: drop-and-create
